<h2>Request Details</h2>

<table class="table table-bordered table-responsive">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Record id</td>
        <td><%= record._id %></a> </td>
    <tr>
        <td>Part name</td>
        <td><%= record.part_name %> </td>
    </tr>
    <tr>
        <td>Supplier</td>
        <td><%= record.supplier_name %> </td>
    </tr>
    <tr>
        <td>Supplier Location</td>
        <td><%= record.supplier_address %> </td>
    </tr>
    <tr>
        <td>Created on</td>
        <td><%= record.date %> </td>
    </tr>
    <tr>
        <td>Status</td>
        <td><%= record.supplier_acceptance %> </td>
    </tr>
</table>
<a class="btn btn-raised btn-primary" href="/map_view/<%= record._id %>">Switch to Map View</a></td>